# Webscrapping using pyrthon.

In [1]:
import requests #library to get url

In [2]:
from bs4 import BeautifulSoup #library to handle html

In [3]:
import time

In [4]:
time.sleep(1) #to avoid spamming

In [ ]:
# Parse HTML and save to BeautifulSoup object
soup = BeautifulSoup(response.text, "html.parser")

In [7]:
import requests
from bs4 import BeautifulSoup
import re

In [9]:
time.sleep(1)

In [67]:
all = soup.find("div", {"class": "name"})

In [73]:
#first page handling
N = requests.get("your site to scrap")

In [74]:
#get content of the page
c = N.content

In [76]:
#change to handle html
Soup = BeautifulSoup(c, "html.parser")

In [77]:
peo = Soup.find_all("div", {"class":"info"})#getting information of phone and specifications

In [80]:
peo[0].find("h3",{"class":"name"}).text#print the text with no tag

'Tecno  POP 3, 5.7", 16GB + 1GB, Dual Sim, Black'

In [ ]:
#the whole scrapping 
#6 website pages
m = []
url = "site to scrap"#website
for page in range (1,7,1):#number of pages
    print(url + str(page))
    r=requests.get(url + str(page))
    c = r.content
    soup = BeautifulSoup(c, "html.parser")
    peo = soup.find_all("div", {"class":"info"})
    for item in peo:
        D = {}
        try:
            D["NameSpe"]=item.find("h3",{"class":"name"}).text
        except:
            D["NameSpe"]=None
        try:
            D["Price"]=item.find("div",{"class":"prc"}).text#price of the phone
        except:
            D["Price"] = None
        try:
            D["OldP"]=item.find("div",{"class":"old"}).text#old price of the phone
        except:
            D["oldP"]=None
        try:
            D["Discount"]=item.find("div",{"class":"tag _dsct _sm"}).text#discount
        except:
            D["Discount"]=None
        try:
            D["RatNo"]=item.find("div",{"class":"rev"}).text#rating and number of people who wrote the rate in bracket
        except:
            D["RatNo"]=None
        print(" ")
        m.append(D)

    
    
    
    
    

len(m)

#convert to data frame
import pandas
df = pandas.DataFrame(m)

In [123]:
df

,NameSpe,Price,OldP,Discount,RatNo,oldP
0,"Tecno POP 3, 5.7"", 16GB + 1GB, Dual Sim, Black","KSh 7,047","KSh 12,500",44%,3.8 out of 5(31),NaN
1,"Ulefone Note 7, 6.1"", 1GB + 16GB, 3500mAh, (Du...","KSh 5,499","KSh 6,499",15%,4.1 out of 5(970),NaN
2,UMIDIGI A7-4GB+64GB-6.49''-Android 10-16MP+8MP...,"KSh 10,500","KSh 10,600",1%,4.5 out of 5(14),NaN
3,"Ulefone Note 7 Pro, 6.1"" HD, 3GB +32GB (Dual S...","KSh 7,499","KSh 11,499",35%,4.3 out of 5(732),NaN
4,"Ulefone Note 7, 6.1 Inches, 1GB + 16GB (Dual S...","KSh 5,499","KSh 6,499",15%,4.2 out of 5(852),NaN
...,...,...,...,...,...,...
283,,,NaN,None,None,NaN
284,,,NaN,None,None,NaN
285,,,NaN,None,None,NaN
286,,,NaN,None,None,NaN
287,,,NaN,None,None,NaN

In [119]:
#save as csv
df.to_csv("phonez.csv")

In [124]:
df.to_csv("full_phones.cvs")